<%- include ../partials/std.head.ejs %>

<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="top-header">
					<div class="top-header-thumb" id="map"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<% routesList.forEach(function(route) { %>
			<div class="ui-block get_route" data-id="<%= route.id %>">
				<div class="birthday-item inline-items badges">
					<div class="author-thumb">
						<img src="img/badge1.png" alt="author">
					</div>
					<div class="birthday-author-name">
						<a href="#" class="h6 author-name"><%= route.name %></a>
					</div>
				
					<div class="btn btn-primary btn-sm find_nearby_routes" data-id="<%= route.id %>">
						Find routes like this
					</div>
				</div>
			</div>
			<%})%>
		</div>
	</div>
</div>

<%- include ../partials/footer %>